* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  border: 0;
  font-family: Open Sans, sans-serif;
  line-height: 1.428571429;
}
html {
  background-color: #ddd;
}
img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin: -5px 0;
  padding-bottom: 5px;
}

[class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
img {
  cursor: pointer;
}
.all_h1 {
  display: flex;
  align-items: center;
  padding-bottom: -12px;
  padding-top: 5px;
}
/* .anime_img{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
} */
.manga-item-thumbnail {
  border-radius: 10px;
}
.anime_news {
  margin-left: -5px;
  margin-right: -5px;
}
.comic {
  margin-right: -7px;
}
.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}
a {
  text-decoration: none;
  font-size: 12px;
}
/* .slider-item-img1{
    margin: -5px 0;
    padding-bottom: 10px;
    margin-left: -5px;
    
} */

.head {
  position: relative;
}
.text {
  position: absolute;
  top: 215px;
  left: 80px;
  color: #fff;
}
.icon_2 {
  top: 205px;
  left: 14px;
}
.icon {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #00000099;
}
.icone {
  width: 0;
  height: 0;
  border-left: 25px solid #fff;
  border-bottom: 17px solid transparent;
  border-top: 17px solid transparent;
  border-right: 25px solid transparent;
  margin-left: 30px;
}
.col-2 {
  position: relative;
}
.col-3 {
  position: relative;
}
.all_icon_10{
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(216,15,22,.6);
    border-radius: 100%;
    color: #eee;
    border: #d80f16;
    text-align: center;
    font-size: 16px;
    flex-wrap: wrap;
}
.all_icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.all_icon2 {
  position: absolute;
  top: 0px;
  left: 3px;
  right: 15px;
}
.mini_text {
  padding-bottom: 4px;
  left: 5px;
  width: 100%;
  top: 130px;
  /* padding-top: 115px; */
  /* padding-left: 10px; */
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
.mini_text_2 {
  margin-left: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 90%;
}
.mini_text_3 {
  color: #eee;
  margin-left: 10px;
}
.mini_text_all {
  width: 97%;
  padding-bottom: 12px;
}
.mini_text_all_2{
  width: 92%;
  top: 275px;
}
.chap{
  font-size: 14px;
  padding: 0 5px;
  background: gray;
  color: #fff;
  position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid white;
}
.mini_text_all_1 {
  width: 97%;
  padding-bottom: 5px;
}
.class_P {
  padding-left: 40px;
}
.class_P_2 {
  padding: 0;
  color: #fff;
  font-size: 14px;
}

.class_P_3 {
  padding: 0;
}
.all_icon_none {
  display: none;
}
.all_icon3 {
  top: 240px;
  width: 95%;
}
.clol-3_hover:hover .all_icon_none {
  display: flex;
}
.col_img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  overflow: hidden;
}
.mini_text_all_5 {
  width: 97%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  padding-bottom: 5px;
}
.col_img3 {
  overflow: hidden;
}
.col_img2 {
  overflow: hidden;
}
/* .clol-3_hover:hover{
filter: brightness(80%);
transform: scale(1.040);
cursor: pointer;
color: rgb(128, 111, 111);
} */

.clol-3_hover:hover .all_icon_10{
  display: none;
}

.col_img:hover .tray-item-thumbnail2,
.all_icon:hover .tray-item-thumbnail2,
.col_img2:hover .tray-item-thumbnail2,
.col_img3:hover .tray-item-thumbnail2 {
  transform: scale(1.2);
  cursor: pointer;
  
}
.all_icon:hover,
.col_img3:hover {
  cursor: pointer;
}

/* .mini_text:hover{
  filter: brightness(80%);
transform: scale(1.040);
} */
/* .slider-item-img2{
  overflow: hidden;
}

.anime_img:hover{
transform: scale(1.1);
}
.anime_img2:hover{
transform: scale(1.015);
}
.anime_img3:hover{
  filter: brightness(80%);
  transform: scale(1.040);
} */
.slider-item-img2:hover {
  filter: brightness(80%);
}

.slider-item-img5:hover {
  filter: brightness(50%);
}
.ranking-item:hover .ranking-item-thumbnail{
  transform: calc(1.1);
  cursor: pointer;
}

.slider-item-img2{
  padding-bottom: 8px;
}
/*  */
.ranking-item {
  margin-right: 10px;
  overflow: hidden;
  height: 80px;
  color: #fff;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
}

.ranking-item .ranking-item-thumbnail {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 105%;
  z-index: -1;
  overflow: hidden;
}
.row_1{
  margin-right: -8px;
}
.col-2_1{
  margin-right: 6px ;
  padding-right: 6px;
}

.background-2.l90 {
  background: linear-gradient(
    -180deg,
    rgba(244, 67, 54, 0.9),
    rgba(244, 67, 54, 0.2)
  );
}
.ranking-item .ranking-item-thumbnail img {
  height: auto;
  width: 100%;
}
img {
  border: 0;
}

.ranking-item-top {
  background: none;
  border-radius: 100%;
  bottom: 5px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  height: auto;
  line-height: 40px;
  position: absolute;
  right: 5px;
  text-align: right;
  top: auto;
  width: auto;
}

.ranking-item-meta {
  width: 140px;
  color: #fff;
  float: left;
}
.ranking-item-thumbnail {
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.l90 {
}
.background-2 {
}
/*  */
.the_end {
  margin: 20px;
}

.end {
  background: #d80f16;
  border-radius: 2px;
  clear: both;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  padding: 6px 12px;
  text-align: center;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  user-select: none;
  width: 100px;
}
.head{
  margin-top: 80px;
}