*{
    box-sizing: border-box;
    margin: 0;

}
.dia{
   
}
.ok{
    text-align: center;
}
.dia{
    background-image: (0, #333, #ccc);
    text-transform: capitalize;
}
li a{
    text-decoration: none;
    list-style: none;
    color: coral;
}
span{
    display: flex;
    justify-content: space-between;
}
p{
    color: white;
    background-color: rgb(246, 145, 19);
    max-width: 41%;
    font-size: 83%;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 6px;
}
.menu_con{
    list-style: none;
    margin-top: 50px;
}
.dia1{
 background-color: #e7e9eb;
 border: 2px solid white;
}
.dia1:hover{
    border-color:  coral;
    
}

h1{
    margin: 10px;
    background-color: chocolate;
    height: 40px;
    text-align: center;
}
h3{
    max-width: 130px;
    margin: 14px;
    background-color: chocolate;
}
.menu{
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    
}

.anh{
    max-width: 254px;
    height: 218px;
}
}
}

li{
    
}